{% block content %}
<h1>Список Кандидатов</h1>
<a href="{% url 'workers:employees' %}"><button>Перейти к сотрудникам</button></a>
<div class="container mt-4">
    <div class="row">
        {% for candidate in candidates %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.first_name }} {{ candidate.last_name }}</h5>
                    <p class="card-text"><strong>Локация:</strong> {{ candidate.location }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ candidate.email }}</p>
                    <p class="card-text"><strong>Телефон:</strong> {{ candidate.phone }}</p>
                    <p class="card-text"><strong>Навыки:</strong> {{ candidate.general_skills }}</p>
                    <p class="card-text"><strong>Знак Зодиака:</strong> {{ candidate.zodiac_sign }}</p>
                    <p class="card-text"><strong>Возраст:</strong> {{ candidate.age }}</p>
                    <!-- Добавьте другие поля по необходимости -->
                    <form method="post" action="{% url 'workers:delete_candidate' candidate.id %}">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Кандидатов не найдено.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
